<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- head 中 -->
    <link rel="stylesheet" href="css/materialize.min.css">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>H5 网页示例</title>
</head>
<body style="margin-left: 10px;margin-right: 10px">

<div class="card-panel">

    <span class="card-title">数据次数设置：</span>
    <div class="row s12 ">
        <div class="input-field  inline col s4">
            <input id="count" type="number" class="validate" value="50">
        </div>
    </div>

    <div class="switch">
        <label>
            评论页点赞(随机)------------关闭
            <input type="checkbox" id="dianZan">
            <span class="lever"></span>
            开启
        </label><br><br>
        <label>
            推荐页浏览购物车(随机)---关闭
            <input type="checkbox" id="shop">
            <span class="lever"></span>
            开启
        </label><br><br>
        <label>
            是否打开数据日志-----------关闭
            <input type="checkbox" id="log">
            <span class="lever"></span>
            开启
        </label>
    </div>
</div>

<div>
    <div>类型</div>
    <p>
        <label>
            <input name="radio" class="with-gap" type="radio" id="fans"/>
            <span>fans</span>
        </label>
    </p>
    <p>
        <label>
            <input name="radio" class="with-gap" type="radio" checked id="friend"/>
            <span>朋友</span>
        </label>
    </p>
    <p>
        <label>
            <input name="radio" class="with-gap"  type="radio" id="forYou"/>
            <span>推荐</span>
        </label>
    </p>
    <p>
        <label>
            <input name="radio" class="with-gap"  type="radio" id="live"/>
            <span>直播</span>
        </label>
    </p>
</div>

<br/>

<div class="row">

    <div class="col s6">
        <button class="btn waves-effect waves-light " type="button" name="action" onclick="javascript:stop()">
            停止脚本
        </button>
    </div>
    <div class="col s6">
        <button class="btn waves-effect waves-light" type="button" name="action" onclick="javascript:start()">
            启动脚本
        </button>
    </div>
</div>

<script src="htmljs/jquery.min.js"></script>
<script src="htmljs/materialize.min.js"></script>


</body>


<script>
    /*$(function () {
        //使用jquery进行设置值
        //取得参数并且进行设置
        var name = window.ec.getConfig("name");
        $("#name").val(name);

        var mark = window.ec.getConfig("mark");
        $("#mark").val(mark);

        var age = window.ec.getConfig("age");
        $("#age").val(age);
        var one = window.ec.getConfig("one");
        if (one === "true") {
            $("#one").attr("checked", "checked");
        }
        var two = window.ec.getConfig("two");
        if (two === "true") {
            $("#two").attr("checked", "checked");
        }
        var three = window.ec.getConfig("three");
        if (three === "true") {
            $("#three").attr("checked", "checked");
        }

        var music = window.ec.getConfig("music");
        if (music === "true") {
            $("#music").attr("checked", "checked");
        }

        var sing = window.ec.getConfig("sing");
        if (sing === "true") {
            $("#sing").attr("checked", "checked");
        }

        var dance = window.ec.getConfig("dance");
        if (dance === "true") {
            $("#dance").attr("checked", "checked");
        }

        var sex = window.ec.getConfig("sex");
        $("select[name=sex]").find("option[value='" + sex + "']").attr("selected", true);

        $('select').formSelect();
        $('.datepicker').datepicker({"format": "yyyy-mm-dd"});
        window.ec.hideStartBtn();
    });*/
    //停止
    function stop(){
        window.ec.stopTask();
    }
    //保存参数的函数
    /*function save() {
        var name = $("#name").val();
        window.ec.saveConfig("name", name);
        var age = $("#age").val();
        window.ec.saveConfig("age", age);

        window.ec.saveConfig("one", $("#one").prop("checked"));
        window.ec.saveConfig("two", $("#two").prop("checked"));
        window.ec.saveConfig("three", $("#three").prop("checked"));

        window.ec.saveConfig("music", $("#music").prop("checked"));
        window.ec.saveConfig("sing", $("#sing").prop("checked"));
        window.ec.saveConfig("dance", $("#dance").prop("checked"));

        window.ec.saveConfig("mark", $("#mark").val());


        var sex = $("select[name=sex]").find("option:selected").val();
        window.ec.saveConfig("sex", sex);

        window.ec.toast("保存成功");


    }*/

    function start() {
        let count = $("#count").val();
        window.ec.putShareData("count",count);
        window.ec.putShareData("fans",$("#fans").prop("checked"));
        window.ec.putShareData("friend",$("#friend").prop("checked"));
        window.ec.putShareData("forYou",$("#forYou").prop("checked"));
        window.ec.putShareData("live",$("#live").prop("checked"));
        window.ec.putShareData("dianZan",$("#dianZan").prop("checked"));
        window.ec.putShareData("shop",$("#shop").prop("checked"));
        window.ec.putShareData("log",$("#log").prop("checked"));
        window.ec.start()
    }

</script>
</html>